.header {
  margin-left: 12%;
  margin-right: 12%;
}

.contact{
  width: 90%;
  float: center;
  margin-bottom: 40px;
}

.logo-land {
  display: inline;
  width: 38%;
  float: left;
}

.logo {
  float: left;
  margin-right: 10px;

}

.calendar {
  margin-bottom: 2%;
}

.creative {
  font-size: 12px;
  padding-top: 2%;
  }

.nav-bar {
  float: bottom;
}

.name {

}

.content {
  float: left;
  width: 65%;
}

.sidebar {
  font-size: 15px;
  margin-left: 28px;
  float: left;
  width: 30%;
  min-height: 101%;
}

.footer-wrapper {
  /*background: blue;*/
}

.meat {
  margin-left: 12%;
  margin-right: 12%;
}

.footer {
  /*background: green;*/
  margin-top: 2%;
  margin-right: 12%;
}

