/*
 * adi logo colors:
 * 414142 dark gray in D, i
 * 7bbee9 blue in gear
 * 808285 middle gray in screwdriver, ruler tick marks
 * 939598 lighter gray in wrench
 * bcbdd0 lighest gray in one ruler
 */

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans/OpenSans-Light.ttf');
  font-weight: 300;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "HelveticaNeue-Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  color: #000000;
}

h1 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:link, a:visited {
  color: #76bfe5;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.social-icon {
  margin: 0px 1px;
}

ul.inline-list > li > a {
  padding: 7px 5px;
}

ul .inline-list {
  line-height: 0;
  display: inline-block;
   position: relative;
}

#footer {
  margin-left: -35px;
  padding: 30px 0 80px 35px;
  width: 100%;
  border-top: 1px solid #D2D2D2;
  min-height: 46px;
}

#footer-content {
  max-width: 700px;
}

#footer-content img {
  float: left;
  margin-right: 20px;
}

.contact {
  margin-top: 0px;
  padding-top: 1px;
  margin-bottom: 40px;
  width: 50%;
  line-height: 25px;

}

nav {
  margin-top: 0px;
}

.top {
  position: relative;
  height:50%;
}

.adi-banner {
  position:absolute;
  top:0;
  bottom: 50px;
  background: black url("../img/columbia-street.jpg") no-repeat center center fixed;
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

.adi-banner .logo {
  width: 300px;
  max-width: 90%;
  max-height: 100%;
}

.adi-banner.spacer-active {
  position:relative;
  top: auto;
  bottom: auto;
}

.navbar {
  position:absolute;
  height: 50px;
  width: 100%;
  bottom:0;
  border-radius: 0 !important;
  margin:0;
}

.navbar .logo {
  height: 50px;
  padding:10px;
}

.navbar-fixed-top {
  position: fixed;
  bottom: auto;
}

.navbar-spacer.spacer-active {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
}

.adi-section {
  width: 100%;
}

.adi-section-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.events-carousel-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50%;
  width: 100%;
}

.events-carousel {
  width:200%;

}

.events-carousel > .event {
  width: 10%;
  padding: 10px;
  display: inline-block;
  float: left;
}

.event > .event-card {
  background-color: #eee;
  border: 1px solid #ddd;
}

.footer {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: black;
}

.post {
  top: 0px;
  margin-top: 0px;
  margin-left: -35px;
  margin-bottom: 40px;
  padding-left: 34px;
  width: 100%;
}

.post-page {
  margin-top: 0px;
  padding-top: 1px;
  width: 70%;
  line-height: 25px;
}

.post-header {
  margin-left: -35px;
  padding: 30px 0px 0px 35px;
  width: 100%;
  border-top: 1px solid #D2D2D2;
}

.post-header-content {
  max-width: 700px;
}

.post-header-content h2 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}

.post-header-content a, .post-header-content a:visited {
  color: #000000;
}

.post-header-content a:hover {
  color: #7BBEE9;
}

.post-header-content h3 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 15px;
}

.text-content {
  max-width: 700px;
  clear: both;
  color: #414142;
  margin-top: 25px;
  margin-bottom: 25px;
}
.text-content a {
  text-decoration: underline;
  color: #000000;
}

.text-content a:hover {
  text-decoration: underline;
  color: #7BBEE9;
}

p {
  line-height: 25px;
  margin: 20px 0;
}

.logos.varied img {
  max-width: 175px;
  max-height: 125px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.logos .logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.text-content img {
  border: 1px solid #414142;
  padding: 2px;
  margin-bottom: 1em;
}

#intro {
  margin-top: 0px;
  padding-top: 1px;
  max-width: 700px;
  margin-bottom: 30px;
}

#eboard-roster {
  border-collapse: collapse;
}

#eboard-roster td, #eboard-roster th {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 300;
}

#eboard-roster tr {
  border: 2px solid #E9E9E9;

}

#devfest-text li, #devfest-text p {
  line-height: 25px;
}

.odd {
  background-color: #E9E9E9;
}

.even {
  background-color: #FFFFFF;
}

#mc_embed_signup {
  margin-left: 35px;
  margin-top: 0px;
}

#mce-EMAIL {
  width: 150px;
  height: 28px;
  border: 1px solid #414142;
  padding: 0px 8px;
  color: #414142;
  margin-top: 0.75em;
  font-size: 14px;
}

#mc-embedded-subscribe {
  margin-top: 5px;
  border: none;
  background: transparent;
  color: #2777AB;
  cursor: pointer;
}

#mc-embedded-subscribe:hover {
  color: #34ADFA;
}

#post_links li {
  line-height: 25px;
}

#post-pagination {
  margin-bottom: 10px;
}

#post-pagination * {
  display: inline;
}

#post-pagination .pages{
  list-style: none;
  padding: 0;
}

#post-pagination .page {
  display: inline;
  padding: 0.5em;
}

#post-pagination .archive {
  display: block;
  margin: 1em 0;
}

.social span {
  display: inline-block;
}
.social .facebook {
  width: 134px;
}
.social .twitter {
  width: 100px;
}
.social .google {
  width: 60px;
}

.external {
  margin-left: 5px;
}

