@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300.css);
#eboard-roster {
  border-collapse: collapse;
}
#eboard-roster td,
#eboard-roster th {
  padding: 10px 15px;
  font-weight: 300;
  font-size: 15px;
}
#eboard-roster tr {
  border: 2px solid #E9E9E9;
}
#devfest-text li,
#devfest-text p {
  line-height: 25px;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.1em;
}
h1 {
  text-align: center;
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
p {
  line-height: 1.4em;
}
a:link,
a:visited {
  color: #4fa8e2;
  text-decoration: none;
}
a:hover {
  color: #cccccc;
}
.hidden {
  display: none;
}
button {
  margin: 0 2px;
  padding: 0.5em 0.8em;
  height: 35px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #4fa8e2;
  color: #fff;
  font-weight: 300;
}
button:hover {
  background: #7bbee9;
}
input {
  margin: 0 2px;
  padding-left: 10px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5em;
}
.fa-adi-1-5x {
  font-size: 25px;
}
.text-content {
  line-height: 1.4em;
}
.big p {
  font-size: 1.3em;
}
.odd {
  background-color: #E9E9E9;
}
.even {
  background-color: #FFFFFF;
}
.events-carousel-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2em 4em;
  width: 100%;
  height: 460px;
  background-color: #eeeeee;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport {
  border: 0;
  left: 0;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel {
  height: 400px;
  margin: 0;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event {
  position: relative;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #eee;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-header {
  height: 65%;
  background-size: cover;
  background-repeat: no-repeat;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-header .event-opacity {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  height: 100%;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-header .event-opacity .event-header-content {
  height: 100%;
  width: 100%;
  display: table;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-header .event-opacity .event-header-content .event-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 220px;
  margin: 0 auto;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-details {
  padding-top: 10px;
  padding-left: 0;
  height: 35%;
  border-top: 5px solid #222;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-details.past {
  color: #888;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-details .event-detail {
  margin: 0 5px;
  list-style: none;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-details .event-detail .event-detail-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event .event-details .event-detail .event-detail-text {
  display: inline;
  margin: 1em;
  line-height: 2em;
}
.events-carousel-wrapper .bx-wrapper .bx-next {
  z-index: 0;
  margin-right: -50px !important;
}
.events-carousel-wrapper .bx-wrapper .bx-prev {
  z-index: 0;
  margin-left: -50px !important;
}
@media only screen and (min-width: 420px) {
  .bx-wrapper {
    width: 300px;
  }
}
@media only screen and (min-width: 730px) {
  .bx-wrapper {
    width: 610px;
  }
}
@media only screen and (min-width: 1040px) {
  .bx-wrapper {
    width: 920px;
  }
}
@media only screen and (min-width: 1350px) {
  .bx-wrapper {
    width: 1230px;
  }
}
@media only screen and (min-width: 1660px) {
  .bx-wrapper {
    width: 1540px;
  }
}
footer {
  padding: 45px 10px;
  width: 100%;
  color: #eeeeee;
  text-align: center;
}
footer ul {
  margin: 0 auto;
  padding: 0;
  max-width: 205px;
  width: 100%;
  height: 30px;
}
footer li {
  display: inline-block;
  float: left;
  width: 25%;
}
footer p {
  font-size: 0.8em;
}
footer a {
  color: #cccccc !important;
}
footer a:hover {
  color: #7bbee9 !important;
}
header {
  height: 54%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  background: url("../img/columbia-street.jpg") no-repeat center center;
}
header .adi-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
header .adi-banner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 3em auto;
  min-height: 90%;
  max-height: 500px;
  width: 100%;
}
header .adi-banner-container .logo {
  max-width: 90%;
  max-height: 50%;
}
header .adi-banner-container .tagline {
  color: #eeeeee;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1em;
}
header .adi-banner-container .newsletter {
  margin: auto;
  max-width: 500px;
  width: 100%;
}
header .adi-banner-container .newsletter p {
  color: #eeeeee;
  line-height: 1em;
}
header .adi-banner-container .newsletter input {
  width: 70%;
}
.header-spacer {
  width: 100%;
  height: 54%;
  z-index: -101;
}
#bottom {
  background-color: white;
  position: relative;
  z-index: 100;
}
section {
  padding-top: 49px;
  margin-top: -49px;
  position: relative;
}
section .strip .content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
}
section .strip .content h1.section-title {
  margin: 0;
}
section .strip.gray {
  background-color: white;
}
section .strip.gray .content {
  background-color: #eeeeee;
}
section .strip.blue {
  background-color: #a7d4f0;
}
section .strip.blue .content {
  background-color: #7bbee9;
}
/* Short Desktop Screens*/
@media only screen and (max-height: 500px) and (min-width: 481px) {
  /* Squeeze everything into the banner */
  .banner-tagline {
    margin: 0;
  }
  .adi-banner-container {
    margin: 0 auto;
  }
}
/* Extra-large desktops */
@media only screen and (min-width: 1279px) {
  
}
/* Small desktops */
@media only screen and (max-width: 940px) {
  
}
/* Tablets */
@media only screen and (max-width: 767px) {
  .navbar-right {
    display: none;
  }
}
/* Phones */
@media only screen and (max-width: 480px) {
  .top {
    height: 75%;
  }
}
.navbar-right {
  height: 50px;
}
.navbar-right > li > a {
  line-height: 0;
}
.navbar {
  z-index: 10001;
  margin: 0;
  border-radius: 0 !important;
}
.navbar .logo {
  padding: 8px;
  height: 50px;
}
.navbar a {
  font-size: 1.1em;
}
.navbar .dropdown-menu {
  width: 180px;
  background: #080808;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 14px;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #4fa8e2;
}
.navbar-spacer.spacer-active {
  height: 50px;
}
.external {
  margin-left: 5px;
}
#mc-embed-signup {
  margin: 1em;
  width: 13em;
}
#mc-embed-signup label {
  color: #fff;
}
#mc-embed-signup input {
  margin-top: 0.8em;
  width: 70%;
}
#mc-embed-signup button {
  position: absolute;
  margin-top: 1em;
  padding: 0.6em 0.2em;
  border: none;
  background: none;
  color: #4fa8e2;
}
#mc-embed-signup button:hover {
  color: #7bbee9;
}
.post h2 {
  display: inline-block;
  line-height: 0;
}
.post .title {
  color: #4fa8e2;
}
.post .date {
  color: #cccccc;
}
.post a {
  color: #000;
  text-decoration: underline;
}
.post a:hover {
  color: #7BBEE9;
  text-decoration: underline;
}
.post img {
  margin-bottom: 1em;
  padding: 2px;
  border: 1px solid #414142;
}
.post .social {
  margin: 10px 0 10px -5px;
}
#post-pagination {
  margin-bottom: 10px;
}
#post-pagination * {
  display: inline;
}
#post-pagination .pages {
  padding: 0;
  list-style: none;
}
#post-pagination .page {
  display: inline;
  padding: 0.5em;
}
#post-pagination .archive {
  display: block;
  margin: 1em 0;
}
