/*
 * adi logo colors:
 * 414142 dark gray in D, i
 * 7bbee9 blue in gear
 * 808285 middle gray in screwdriver, ruler tick marks
 * 939598 lighter gray in wrench
 * bcbdd0 lighest gray in one ruler
 */

html, body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  color: #000000;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:link, a:visited {
    color: #76bfe5;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.social-icon {
  margin: 0px 1px;
}

#sidebar {
  background: #E9E9E9;
  position: fixed;
  width: 240px;
  border-right: 1px solid #C2C2C2;
  height: 100%;
  min-height: 750px;
  color: #414142;
}

#sidebar #sidebar-content {
  margin: 15px 35px 0px;
}

#sidebar h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

.inline-list {
    display: inline-block;
    position: relative;
}

#footer {
  margin-left: -35px;
  padding: 30px 0px 20px 35px;
  width: 100%;
  border-top: 1px solid #D2D2D2;
  min-height: 46px;
}

#footer-content {
  max-width: 700px;
}

#footer-content img {
  float: left;
  margin-right: 20px;
}

.contact {
  margin-top: 0px;
  padding-top: 1px;
  margin-bottom: 40px;
  width: 50%;
  line-height: 25px;

}

nav {
  margin-top: 20px;
}

#main-nav {
  border-top: 1px solid #D2D2D2;
  list-style: none outside none;
  padding: 0px;
}

#main-nav a {
  display: block;
  position: relative;
  padding: 15px 30px;
  margin: 0;
  border-bottom: 1px solid #D2D2D2;
  color: #414142;
}

#main-nav li a:visited {
  color: #414142;
}

#main-nav li a:hover {
  background: #7BBEE9;
  border-bottom: 1px solid #7BBEE9;
} 

#main {
  margin-left: 241px;
  margin-top: -1px;
  padding-top: 0px;
  padding-left: 34px;
  background: #FFFFFF;
}

.post {
  top: 0px;
  margin-top: 0px;
  margin-left: -35px;
  margin-bottom: 40px;
  padding-left: 34px;
  width: 100%;
}

.post-page {
  margin-top: 0px;
  padding-top: 1px;
  width: 70%;
  line-height: 25px;
}

.post-header {
  margin-left: -35px;
  padding: 30px 0px 0px 35px;
  width: 100%;
  border-top: 1px solid #D2D2D2;
}

.post-header-content {
  max-width: 700px;
}

.post-header-content h2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
}

.post-header-content a, .post-header-content a:visited {
  color: #000000;
}

.post-header-content a:hover {
  color: #7BBEE9;
}

.post-header-content h3 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 15px;
}

.text-content {
  max-width: 700px;
  clear: both;
  color: #414142;
  margin-top: 25px;
  margin-bottom: 25px;
}
.text-content a {
  text-decoration: underline;
  color: #000000;
}

.text-content a:hover {
  text-decoration: underline;
  color: #7BBEE9;
}

p {
  line-height: 25px;
  margin: 20px 0px;
}

.logos.varied img {
  max-width: 175px;
  max-height: 125px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.logos .logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.text-content img {
  border: 1px solid #414142;
  padding: 2px;
}

#intro {
  margin-top: 0px;
  padding-top: 1px;
  max-width: 700px;
  margin-bottom: 30px;
}

#eboard-roster {
  border-collapse: collapse;
}

#eboard-roster td, #eboard-roster th {
  padding: 10px 15px;
  font-size: 15px;
}

#eboard-roster tr {
  border: 2px solid #E9E9E9;
  
}

#devfest-text li, #devfest-text p {
  line-height: 25px;
}

.odd {
  background-color: #E9E9E9;
}

.even {
  background-color: #FFFFFF;
}

#mc_embed_signup {
  margin-left: 35px;
  margin-top: 0px;
}

#mce-EMAIL {
  width: 130px;
  border: 1px solid #414142;
  padding: 2px;
  color: #414142;
  margin-top: 0.75em;
}

#mc-embedded-subscribe {
  border: 1px solid #414142;
  background: #C2C2C2;
  margin-top: 5px;
}

#mc-embedded-subscribe:hover{
  background: #7BBEE9;
} 

#post_links li {
  line-height: 25px;
}

#post-pagination {
  margin-bottom: 10px;
}

#post-pagination * {
  display: inline;
}

#post-pagination .pages{
  list-style: none;
  padding: 0;
}

#post-pagination .page {
  display: inline;
  padding: 0.5em;
}

#post-pagination .archive {
  display: block;
  margin: 1em 0;
}

.external {
  margin-left: 5px;
}
