.img-devfest {
  background: url("../img/hack.jpg") no-repeat center center;
  &.bottom {
  	background-position: bottom center;
  }
}

.row {
	.responsive-block {
		&.about {
			width: 33%;
			.about-title {
				font-size: 2em;
			}
		}
	}
}