#devfest-callout {
  z-index: 10000;
  text-align: center;
  a {
    color: white;

    p {
      font-size: 3em;
      margin: 0;
    }
  }
  img {
    width: 400px;
    max-width: 100%;
    max-height: 150px;
    margin: 0.5em 0 0;
  }
  .content {
    padding: 1.5em !important;
  }
}

.buttons button {
	margin-top: 5px;
}

.row .responsive-block.social {
	width: 33%;
	font-size: 1.4em;

	h3 { margin-bottom: 0; }
	p {margin: .5em 0 0; }
}

.stats {
	display: table;
	max-width: 90%;
	padding: 1em 0;
	margin: 2em auto -1em;
	line-height: 4em;
	background-color: white;
	border: 10px solid @ltBlue;
	border-radius: 3px;
	padding: 2em;
	.count {
		display:  table-cell;
		vertical-align: middle;
		font-size: 4em;
	}
	.participants {
		padding-left: .5em;
		display:  table-cell;
		vertical-align: middle;
	}
}

#alerts .strip .content {
	padding: 1em !important;
}

.alert {
	max-width: 600px;
	width: 90%;
	padding: 5px 15px;
	margin: 0 auto;
	text-align: center;

	a {
		color: black;
		text-decoration: underline;
	}

	h3 {
		font-size: 2.2em;
	}
	p {
		font-size: 1.5em;
	}
}

.stats {
	text-align: center;
	font-family: @defaultFonts;
}

.img-devfest {
  background: url("../img/hack.jpg") no-repeat center center;
  &.bottom {
  	background-position: bottom center;
  }
}

.about-title {
	text-align: center;
	font-size: 2em;
	margin: 0;
}

.faq a {
	color: black;
	text-decoration: underline;
}

.faq a:hover {
	color: lighten(black, 10%);
	text-decoration: underline;
}


#about .description {
	font-size: 1.5em;
}

.dev-event {
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
	margin: 5px 0;
	border: 1px solid #ccc;
	text-align: left;
	&.blue {
		background-color: @blue;
		border: 1px solid darken(@blue, 10%);
	}

	.left-wrapper {
		max-width: 60%;
		display: inline-block;

		.timespan {
			margin-top: 0;
			margin-bottom:0;
		}
		.title {
			line-height: 1.4em;
			font-size: 1.2em;
			margin-right: 5px;
		}
	}

	span {
		float: right;
		font-size: 1.2em;
		line-height: 1.4em;
		display: inline-block;
		max-width: 40%;
		text-align: right;

		i {
			margin-right: 5px;
		}
	}

	hr.dark {
		border-color: #ccc;
	}


	.sponsored-by {
		margin: 0;
		font-style: italic;
		text-align: center;
		margin: 0 auto;
		max-width: 80%;
		width: 600px;

		p {
			margin: 0 0 10px;
		}
		img { max-width: 100%; }
	}

	.desc {
		margin : 10px 0 0 0;
	}
}

.schedule {
	width: 50%;
	padding: 1em !important;
}
.schedule:first-child {
	border-right: 1px solid gray
}

.row:after {
	clear: both;
	content: " ";
	display: table;
}

.judges {
	margin-top: 20px;
}

.judge {
	height: 100%;
	float: left;
	width: 33%;
	padding: 15px;
	display: block;
}
.judge img {
	width: 100%;
	max-height: 300px;
	max-width: 201px;
}

.sponsors {
	text-align: center;

	hr {
		margin: 3em 0;
	}
}

.gold, .silver, .bronze {
	display: inline-block;
	margin: 0 10px 10px 10px;

	.wrapper-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.devfest-tagline .tagline {
	display: inline-block;
}

.devfest-tagline .tagline:first-child {
	margin-right: 5px;
}

.devfest-tagline .tagline:last-child {
	margin-left: 5px;
}


.notice {
	text-align: center;
	font-size: 1.3em;
	margin-top: 0;

}

.thanks {
	margin-bottom: 20px !important;
}

.sponsor-level {
	margin: 0 0 10px !important;
}

.gold-wrapper .sponsor-level {
	color: #DAA520;
}

.silver-wrapper .sponsor-level {
	color: #ACACAC;
}

.bronze-wrapper, .silver-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.bronze-wrapper .sponsor-level {
	color: #CD7F32;
	margin-bottom: 30px !important;
}

.gold {
	width: 600px;
	max-width: 100%;
	height: 90px;
	display: block;
	margin: 20px auto 10px;

	.wrapper-inner {
		width: 600px;
		max-width: 100%;
		height: 90px;
		margin: 0 auto;

		a {
			height: 100px;

			img {
				max-width: 100%;
				max-height: 100px;
				margin: 0 auto;
			}
		}
	}
}

.silver{
	width: 247px;
	height: 120px;

	.wrapper-inner {
		width: 247px;
		height: 120px;

		a {
			width: 247px;
			height: 120px;

			img {
				max-width: 247px;
				max-height: 120px;
				margin: 0 auto;
			}
		}
	}
}

.bronze {
	width: 200px;
	height: 80px;

	.wrapper-inner {
		width: 200px;
		height: 80px;

		a {
			width: 200px;
			height: 80px;

			img {
				max-width: 200px;
				max-height: 80px;
				margin: 0 auto;
			}
		}
	}
}


/* Tablets */
@media only screen and (max-width: 767px) {
  .stats {
  	.count {
  		font-size: 3em;
  	}
  	.participants {
  		font-size: 1em;
  	}
  	margin-bottom: 0;
  }

  .row {
    .responsive-block {

      &.judge {
        width: 33% !important;
      }

      &.social {
      	width: 33% !important;
      	font-size: 1em;
      }

      &.about, .schedule {
      	width: 50% !important;
      }
    }
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  .stats {
  	display: block;
  	margin-bottom: 1em;
  	h2 {
  		font-size: 2em;
  		margin-bottom: 0;
  	}
  	.count {
  		display: block;
  	}
  	.participants {
  		padding-left: 0;
  		font-size: 0.75em;
  		margin-top: 1em;
  		display: block;
  	}
  }
  .row {
    .responsive-block {
      &.about, &.judge, &.schedule, &.social {
    	width: 100% !important;
      }

    }
  }
}

