.img-ny {
  background: url("../img/columbia-street.jpg") no-repeat center center;

  &.bottom {
    background-position: bottom center;
  }
}

i.fa-adi-8x {
  width: 100%;
  font-size: 8em;
}

.button-large {
  height: 2em;
}
.button-blue {

}
.button-white {

}

#main-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 100;
  width: 100%;
  z-index: 1000;
  background-color: white;

  #main {
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    z-index: 1001;
    width: 100%;
  }
}

section {
  position: relative;
  margin-top: -49px;
  padding-top: 49px;

  &#about {
    p {
      margin: 10px;
      text-align: center;
      font-size: 2.5em;
      font-family: @headingFonts;
      line-height: 1.2em;
    }
  }

  .strip {

    .content {
      margin: 0 auto;
      padding: 4em 1em;
      max-width: 1000px;
      h1.section-title {
        margin: 0;
        font-size: 3.3em;
        font-family: "roboto slab";
      }
      h2.section-tagline {
        margin: 0.5em 0 1em 0;
        text-align: center;
        font-weight: 300;
      }
      h2.sub-section-tagline {
        margin: 1.2em 0 0.5em 0;
        text-align: center;
        font-weight: 300;
      }
    }

    &.gray {
      background-color: white;

      .content {
        background-color: @ltGray;
      }
    }
    &.blue {
      background-color: @ltBlue;

      .content {
        background-color: @blue;
      }
    }
    &.dark-gray {
      background-color: @ltGray;

      .content {
        background-color: @gray;
      }
    }
    &.orange {
      background-color: @ltOrange;

      .content {
        background-color: @orange;
      }
    }
    &.photo {
      color: white;
      .opaque {
        background: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px black;
      }
    }
  }
}

#footer {
  bottom: 0;
}

#bottom-spacer {
  position:relative;
  height:630px;
}
#bottom {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 630px;
}

.row {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 -1em;
  padding: 0.5em;

  &.bg-img {
    min-height: 210px;
    background-position: center;
    background-size: 100%;
    background-size: 100% auto;
    color: white;
    text-align: center;

    .opaque {
      margin: -0.5em;
      padding: 2.5em 0.5em;
      min-height: 210px;
      background: rgba(0, 0, 0, 0.5);

      p, h4 {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
        text-shadow: 1px 1px black;
      }
      h4 {
        margin-bottom: 1.5em;
      }
      p {
        font-size: 1.4em;

      }
    }

    &.devfest {
      background-image: url(/img/devfest/logos/devfest.png);
    }
    &.c-and-c {
      background-image: url(/img/cookiesandcode.png);
    }
    &.jobfair {
      background-image: url(/img/jobfair.png);
    }
    &.weeklies {
      background-image: url(/img/weeklies.png);
    }
  }

  .responsive-block {
    position: relative;
    display: block;
    float: left;
    padding: 0.5em;
    text-align: center;

    p {
      font-size: 1.2em;
    }

    &.involved {
      width: 50%;

      input {
        display: inline;
        margin: 0;
        width: 65%;
      }
      button {
        display: inline;
        margin: 0 0 0 5%;
        padding: 0.5em 0.2em;
        max-width: 80px;
        width: 25%;
      }

      .event-details {
        margin: 0 auto;
        padding: 0;
        min-width: 200px;
        width: 80%;
        list-style: none;
        text-align: left;

        .event-detail {
          overflow: hidden;
          margin: 5px;
          width: 100%;

          .event-detail-icon {
            display: inline-block;
            float: left;
            margin-top: 5px;
            margin-right: 10px;
            text-align: center;
          }
          .event-detail-text {
            display:inline-block;
            float: left;
            margin: 0 .2em;
            width: 75%;
            font-size: 1.2em;
            line-height: 2em;
          }
        }
      }

      .button {
        margin: 10px auto 0;
        padding: 0.5em 0.2em;
        width: 150px;
        height: 35px;

        a {
          line-height: 20px;
        }
      }
    }

    &.contact {
      width: 25%;

      &:hover, &.touch {
        background-color: @gray;
      }
    }



    &.infra {
      width: 33.3333333333%;

      &:hover, &.touch {
        background-color: @ltBlue;
      }
    }

    &.contact, &.infra {
      border-radius: 4px;

      .button-spacer{
        display: block;
        height: 35px;
      }

      a {
        color: white;
        line-height: 20px;

        .button {
          bottom: 0;
          display: none;
          padding: 0.5em 0.2em;
          height: 35px;
        }
      }

      &:hover, &.touch {

        .button-spacer {
          display: none;
        }
        .button {
          display: block;
        }
      }
    }
  }
}

#devfest-callout {
  z-index: 10000;
  text-align: center;
  a {
    color: white;

    p {
      font-size: 3em;
      margin: 0;
    }
  }
  img {
    max-width: 100%;
    max-height: 150px;
  }
  .content {
    padding: 1em !important;
  }
}

/* Tablets */
@media only screen and (max-width: 767px) {

  .row.bg-img {
    background-size: auto 100%;
  }

  .navbar-right {
    display: none;
  }

  .row {
    .responsive-block {
      width: 50% !important;

      &.involved {
        .event-details {
          width: 100%;
        }
      }
    }
  }

  #bottom, #bottom-spacer {
    height: 1000px;
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  header, .header-spacer {
    height:75%;
  }

  .fa-adi-8x {
    font-size: 4em !important;
  }

  .row {
    .responsive-block {
      width: 100% !important;

      &.infra, &.contact {
        margin: 0.5em 0;
      }
    }
  }

  .content {
    padding: 1em !important;
  }

}
