#goal{
  text-align: center;
  h1, h2 {
    color: @dkBlue;
    line-height: 1em;
  }
  h2 {
    color: #000;
  }
  p {
    font-size: 1.7em;
  }
}

#contact {
  padding-top: 1em;
  text-align: center;
  h4 {
    margin: 14px;
    line-height: 0;
  }
  p {
    font-size: 1.3em;
  }
}

#tiles {
  p {
    font-size: 1em;
  }
  h4 {
    margin: 10px;
  }
}