.navbar-right {
  height: 50px;

  &>li>a {
    line-height: 0;
  }
}

.navbar {
  z-index: 10001;
  margin: 0;
  border-radius: 0 !important;
  .logo {
    padding: 8px;
    height: 50px;
  }
  a {
    font-size: 1.1em;
  }
  .dropdown-menu {
    width: 180px;
    background: #080808;
  }
}

.navbar-inverse .navbar-nav > li > a {
  padding: 14px;
  &:hover {
    color: @dkBlue;
  }
}

.navbar-spacer {
  &.spacer-active {
    height: 50px;
  }
}

.external {
  margin-left: 5px;
}

#mc-embed-signup {
  margin: 1em;
  width: 13em;
  label {
    color: #fff;
  }
  input {
    margin-top: 0.8em;
    width: 70%;
  }
  button {
    position: absolute;
    margin-top: 1em;
    padding: 0.6em 0.2em;
    border: none;
    background: none;
    color: #4fa8e2;
    &:hover {
      color: @blue;
    }
  }
}