---
layout: imports
title: Home
---

<header>
  <div class="adi-banner">
    <div class="adi-banner-container">
      <img class="logo" src="/img/adi-logo-large.png"/>
      <p class="tagline">All things tech at Columbia. <a href="/about">Learn more.</a></p>
      <div class="newsletter">
        <p class="info"><em>Sign up for our newsletter for info on workshops, social events, and more:</em></p>
        <input class="banner-newsletter-email" type="text" placeholder="Email address..." /> <button type="submit" name="subscribe">Sign Up!</button>
      </div>
    </div>
  </div>
</header>

<div id="bottom">

  {% include navbar.html listserv_class="hidden" scroll="scroll" %}

  <div id="main">
    <div class="events-carousel-wrapper">
      <ul class="events-carousel bxslider">
      </ul>
    </div>

    <section id="about">
      <h1>Who We are</h1>
      <p>The Application Development Initiative (ADI) seeks to nurture student creativity and technological aptitude by creating a community and resources for student developers of all talents and interests.</p>
      <h1>What We Do</h1>
      <p>ADI tries to cultivate a culture of learning and innovatin among students at Columbia. We want students to feel empowered to build anything, and hold events to help them in the process:<p>
      <ul>
      <li>Every spring, ADI hosts DevFest, a week-long series of technical workshops culminating in a 24-hour hackathon. DevFest focuses on fostering community, and helping new developers end the week with a completed project. </li>
      <li>ADI coordinates a communal, on-campus living space, where students interested in technology and innovation live together and learn from one another.</li>
      <li>Every Wednesday night, ADI hosts Cookies & Code, where student developers meet one another, share feedback on code, and eat cookies.</li>
      <li>ADI hosts a yearly job fair in the fall for student developers to connect with New York tech startups in a low-key and casual environment. Last year we hosted twenty companies and over 250 students.</li>
      <li>ADI hosts weekly workshops and tech talks, bringing professional developers to campus to teach students their expertise. In addition, ADI hosts student-run talks, during which students teach each other skills they have developed.</li>
  </ul>
  <p>ADI hosts and manages technical projects for the Columbia community.</p>
  <ul>
      <li> ADI curates <a href="learn.adicu.com">learn.adicu.com</a>, a resources page for people interested in learning to program.</li>
      <li>Students in ADI build <a href="courses.adicu.com">courses.adicu.com,</a> a schedule builder for Columbia students.</li>
      <li>ADI built <a href="data.adicu.com">data.adicu.com</a>, an API for accessing Columbia's data, from housing to dining to athletics.</li>
  </ul>
  <h1>Get Involved</h1>
  <p>Interested in getting involved? To get a taste of ADI, come to Cookies & Code on Wednesday night for an opportunity to talk to community members and work in a collaborative environment. <a href="">Sign up for our newsletter</a> to learn about weekly workshops and events.
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <p>Want to share your expertise and teach a workshop? Interested in cosponsoring an on or off campus event? Itching to demo and discuss your cool new project? Tell us!</p>

      <!-- tile the diff contact info sections -->
      <div class="section group" id="tiles">
        <div class="col span_1_of_2">
          <h4>Networking</h4>
          <a href="mailto:networking@adicu.com">networking@adicu.com</a>
          <p>Are you a member of the NYC startup community or an established business looking to reach out to Columbia hackers? Talk to our fine folks in Networking.</p>
        </div>
        <div class="col span_1_of_2">

          <h4>Social</h4>
          <a href="mailto:social@adicu.com">social@adicu.com</a>

          <p>Our friends in Social put the "fun" in "fundamentals of computer science". Get in touch if you want to cosponsor an on-campus event, or need advice on how to throw a real rager.</p>
        </div>
        <div class="col span_1_of_2">
          <h4>Workshops</h4>
          <a href="mailto:workshops@adicu.com">workshops@adicu.com</a>

          <p>Want to share your passion and expertise with the community? Host a workshop with us. Our workshop masters will take care of the details so you can focus on what's important: teaching.</p>
        </div>
        <div class="col span_1_of_2">
          <h4>Infrastructure</h4>
          <a href="mailto:infrastructure@adicu.com">infrastructure@adicu.com</a>

          <p>The Infrastructure team manages and powers ADI's technical projects. Help us make them better by suggesting cool features and providing feedback.of the initiative.</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% include footer.html %}

</div>

<!-- bxSlider Javascript file -->
<script src="/js/jquery.bxslider/jquery.bxslider.js"></script>
<!-- bxSlider CSS file -->
<link href="/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<!-- our own script.js -->
<script type="text/javascript" src="/js/index_script.js"></script>

<script type="text/javascript" src="/js/navbar.js"></script>
