<div class="header-spacer">
</div>
<header class="{{include.image_class}}">
  <div class="adi-banner">
    <div class="adi-banner-container">
      {% if include.content_id == 'home'%}
      <img class="logo" src="/img/adi-logo.png"/>
      <p class="tagline">
        All things tech at Columbia.
        <a class="scroll" href="/#about">Learn more.</a>
      </p>
      <div class="newsletter">
        <p class="info"><em>Sign up for our newsletter for info on workshops, social events, and more:</em></p>
        <form action="http://adicu.us4.list-manage.com/subscribe/post?u=62d8b690f349b99dd7e0f3205&amp;id=01a495e6ed" method="post" id="gi-embedded-subscribe-form" name="gi-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input class="banner-newsletter-email" type="email" value="" name="EMAIL" id="gi-EMAIL" type="text" placeholder="Email address..." />
          <button class="button-blue" type="submit" id="gi-embedded-subscribe" name="subscribe">Sign Up!</button>
        </form>
      </div>
      {% elsif include.content_id == 'devfest' %}
      <img class="logo" src="/img/devfest-2014-white.png"/>
      <div class="devfest-tagline">
        <p class="tagline">
          February 1-8.
        </p>
        <p class="tagline">
          <a href="https://docs.google.com/forms/d/1OXNkbrlkYdeWPKJuOVXfXneOpVlTarIC0KpnLeBuyfo/viewform">
            <button class="button-large button-blue">Register Today</button>
          </a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</header>