<div class="navbar-spacer"></div>
<nav class="navbar navbar-inverse {{include.navbar_class}}">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/"><div class="logo"></div></a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      {% if include.content_id == 'devfest' %}
      <li><a href="#schedule" class="{{include.scroll}}">Schedule</a></li>
      <li><a href="#judges" class="{{include.scroll}}">Judges</a></li>
      <li><a href="/#faqs" class="{{include.scroll}}">FAQs</a></li>
      <li><a href="#sponsors" class="{{include.scroll}}">Sponsors</a></li>
      <li><a href="#register" class="{{include.scroll}}">Register</a></li>
      {% else %}
      <li><a href="/#events" class="{{include.scroll}}">Events</a></li>
      <li><a href="/#about" class="{{include.scroll}}">About</a></li>
      <li><a href="/#projects" class="{{include.scroll}}">Projects</a></li>
      <li><a href="/learn">Learn</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="http://jobs.coreatcu.com/" target="_blank">Jobs <img class="external" src="/img/icon_external_link.png" /></a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="listserv dropdown {{include.listserv_class}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-adi-1-5x fa-envelope"></i></a>
        <ul class="dropdown-menu">
          <li id="mc-embed-signup">
           <form action="http://adicu.us4.list-manage.com/subscribe/post?u=62d8b690f349b99dd7e0f3205&amp;id=01a495e6ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
             <label for="mce-EMAIL">Join our mailing list</label>
             <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
             <button type="submit" name="subscribe" id="mc-embedded-subscribe"><i class="fa fa-lg fa-arrow-circle-right"></i></button>
           </form>
          </li>
        </ul>
      </li>
      <li><a href="https://www.facebook.com/ADICU"><i class="fa fa-adi-1-5x fa-facebook" src="../img/fb.png"></i></li></a>
      <li><a href="http://twitter.com/adicu"><i class="fa fa-adi-1-5x fa-twitter" src="../img/twitter.png"></i></li></a>
      <li><a href="https://github.com/adicu/"><i class="fa fa-adi-1-5x fa-github" src="../img/github.png"></i></li></a>
      <li><a href="http://gplus.to/adicu"><i class="fa fa-adi-1-5x fa-google-plus" src="../img/googleplus.png"></i></li></a>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
