@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto Slab';
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  font-family: @defaultFonts;
  line-height: 1em;
}

h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.1em;
}

h1 {
  text-align: center;
  font-size: 3.3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

a:link, a:visited {
  color: @dkBlue;
  text-decoration: none;
}

a:hover {
  color: @gray;
}

.hidden {
  display: none;
}

button, .button {
  margin: 0 2px;
  padding: 0.5em 0.8em;
  height: 35px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  text-shadow: none;

  &.button-blue {
    background: @dkBlue;
    color: #fff;
    &:hover {
      background: @blue;
    }
  }

  &.button-white {
    background: white;
    color: black;

    &:hover {
      background: @ltGray;
    }
  }

  &.button-gray {

  }
}

input {
  margin: 0 2px;
  padding-left: 10px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5em;
}

.fa-adi-1-5x {
  font-size: 25px;
}

.text-content {
  line-height: 1.4em;
}

.big p{
  font-size: 1.3em;
}

// zebra stripes
.odd {
  background-color: #E9E9E9;
}

.even {
  background-color: #FFFFFF;
}


#devfest-callout {
	z-index: 10000;
	text-align: center;
	a {
		color: white;

		p {
			font-size: 3em;
			margin: 0;
		}
	}
	img {
		width: 400px;
		max-width: 100%;
		max-height: 150px;
		margin: 0.5em 0 0;
	}
	.content {
		padding: 1.5em !important;
	}
}

.buttons button {
	margin-top: 5px;
}

.row .responsive-block.social {
	width: 33%;
	font-size: 1.4em;

	h3 { margin-bottom: 0; }
	p {margin: .5em 0 0; }
}

.stats {
	display: table;
	max-width: 90%;
	padding: 1em 0;
	margin: 2em auto -1em;
	line-height: 4em;
	background-color: white;
	border: 10px solid @ltBlue;
	border-radius: 3px;
	padding: 2em;
	.count {
		display:  table-cell;
		vertical-align: middle;
		font-size: 4em;
	}
	.participants {
		padding-left: .5em;
		display:  table-cell;
		vertical-align: middle;
	}
}

#alerts .strip .content {
	padding: 1em !important;
}

.alert {
	max-width: 600px;
	width: 90%;
	padding: 5px 15px;
	margin: 0 auto;
	text-align: center;

	a {
		color: black;
		text-decoration: underline;
	}

	h3 {
		font-size: 2.2em;
	}
	p {
		font-size: 1.5em;
	}
}

.stats {
	text-align: center;
	font-family: @defaultFonts;
}

.img-devfest {
	background: url("../img/hack.jpg") no-repeat center center;
	&.bottom {
		background-position: bottom center;
	}
}

.about-title {
	text-align: center;
	font-size: 2em;
	margin: 0;
}

.faq a {
	color: black;
	text-decoration: underline;
}

.faq a:hover {
	color: lighten(black, 10%);
	text-decoration: underline;
}


#about .description {
	font-size: 1.5em;
}

.dev-event {
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
	margin: 5px 0;
	border: 1px solid #ccc;
	text-align: left;
	&.blue {
		background-color: @blue;
		border: 1px solid darken(@blue, 10%);
	}

	.left-wrapper {
		max-width: 60%;
		display: inline-block;

		.timespan {
			margin-top: 0;
			margin-bottom:0;
		}
		.title {
			line-height: 1.4em;
			font-size: 1.2em;
			margin-right: 5px;
		}
	}

	span {
		float: right;
		font-size: 1.2em;
		line-height: 1.4em;
		display: inline-block;
		max-width: 40%;
		text-align: right;

		i {
			margin-right: 5px;
		}
	}

	hr.dark {
		border-color: #ccc;
	}


	.sponsored-by {
		margin: 0;
		font-style: italic;
		text-align: center;
		margin: 0 auto;
		max-width: 80%;
		width: 600px;

		p {
			margin: 0 0 10px;
		}
		img { max-width: 100%; }
	}

	.desc {
		margin : 10px 0 0 0;
	}
}

.schedule {
	width: 50%;
	padding: 1em !important;
}
.schedule:first-child {
	border-right: 1px solid gray
}

.row:after {
	clear: both;
	content: " ";
	display: table;
}

.judges {
	margin-top: 20px;
}

.judge {
	height: 100%;
	float: left;
	width: 33%;
	padding: 15px;
	display: block;
	&.margin-left {
		margin-left: 16.666666666%;
	}
	&.margin-right {
		margin-right: 16.666666666%;
	}

	img {
		width: 100%;
		max-height: 300px;
		max-width: 201px;
	}
}

.sponsors {
	text-align: center;

	hr {
		margin: 3em 0;
	}
}

.gold, .silver, .bronze {
	display: inline-block;
	margin: 0 10px 10px 10px;

	.wrapper-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.devfest-tagline .tagline {
	display: inline-block;
}

.devfest-tagline .tagline:first-child {
	margin-right: 5px;
}

.devfest-tagline .tagline:last-child {
	margin-left: 5px;
}


.notice {
	text-align: center;
	font-size: 1.3em;
	margin-top: 0;

}

.thanks {
	margin-bottom: 20px !important;
}

.sponsor-level {
	margin: 0 0 10px !important;
}

.gold-wrapper .sponsor-level {
	color: #DAA520;
}

.silver-wrapper .sponsor-level {
	color: #ACACAC;
}

.bronze-wrapper, .silver-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.bronze-wrapper .sponsor-level {
	color: #CD7F32;
	margin-bottom: 30px !important;
}

.gold {
	width: 600px;
	max-width: 100%;
	height: 90px;
	display: block;
	margin: 20px auto 10px;

	.wrapper-inner {
		width: 600px;
		max-width: 100%;
		height: 90px;
		margin: 0 auto;

		a {
			height: 100px;

			img {
				max-width: 100%;
				max-height: 100px;
				margin: 0 auto;
			}
		}
	}
}

.silver{
	width: 247px;
	height: 120px;

	.wrapper-inner {
		width: 247px;
		height: 120px;

		a {
			width: 247px;
			height: 120px;

			img {
				max-width: 247px;
				max-height: 120px;
				margin: 0 auto;
			}
		}
	}
}

.bronze {
	width: 200px;
	height: 80px;

	.wrapper-inner {
		width: 200px;
		height: 80px;

		a {
			width: 200px;
			height: 80px;

			img {
				max-width: 200px;
				max-height: 80px;
				margin: 0 auto;
			}
		}
	}
}


/* Tablets */
@media only screen and (max-width: 767px) {
	.stats {
		.count {
			font-size: 3em;
		}
		.participants {
			font-size: 1em;
		}
		margin-bottom: 0;
	}

	.row {
		.responsive-block {

			&.judge {
				width: 33% !important;
			}

			&.social {
				width: 33% !important;
				font-size: 1em;
			}

			&.about, .schedule {
				width: 50% !important;
			}
		}
	}
}

/* Phones */
@media only screen and (max-width: 480px) {
	.stats {
		display: block;
		margin-bottom: 1em;
		h2 {
			font-size: 2em;
			margin-bottom: 0;
		}
		.count {
			display: block;
		}
		.participants {
			padding-left: 0;
			font-size: 0.75em;
			margin-top: 1em;
			display: block;
		}
	}
	.judge.margin-right, .judge.margin-left{
		margin-left: 0;
		margin-right: 0;
	}
	.row {
		.responsive-block {
			&.about, &.judge, &.schedule, &.social {
				width: 100% !important;
			}

		}
	}
}


.events-carousel-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2em 3em;
  width: 100%;
  height: 460px;
  background-color: @ltGray;

  .bx-wrapper {

    .bx-viewport {
      left: 0;
      border: 0;

      .events-carousel {
        margin: 0;
        height: 400px;

        .event {
          position:relative;
          height: 100%;
          border: 1px solid #ccc;
          background-color: #eee;

          .event-header {
            height: 65%;
            background-size: cover;
            background-repeat: no-repeat;

            .event-opacity {
              position:relative;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6);

              .event-header-content {
                display: table;
                width: 100%;
                height:100%;

                .event-title {
                  display:table-cell;
                  margin: 0 auto;
                  width: 100%;
                  height: 220px;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }

          .event-details {
            padding-top: 10px;
            padding-left: 0;
            height: 35%;
            border-top: 5px solid #222;

            &.past {
              color: #888;
            }

            .event-detail {
              margin: 0 5px;
              list-style: none;

              .event-detail-icon {
                display: inline-block;
                width: 20px;
                text-align: center;
              }
              .event-detail-text {
                display: inline;
                margin: 1em;
                line-height: 2em;
              }
            }
          }
        }
      }
    }

    .bx-next {
      z-index: 0;
      margin-right: -50px !important;
    }

    .bx-prev {
      z-index: 0;
      margin-left: -50px !important;
    }
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  .events-carousel-wrapper .bx-wrapper .bx-viewport .events-carousel .event {
    .event-header {
      height: 60%;
    }
    .event-details {
      height: 40%
    }
  }
}

@media only screen and (min-width: 420px) {
  .bx-wrapper { width: 300px; }
}

@media only screen and (min-width: 730px) {
  .bx-wrapper { width: 610px; }
}

@media only screen and (min-width: 1040px) {
  .bx-wrapper { width: 920px; }
}

@media only screen and (min-width: 1350px) {
  .bx-wrapper { width: 1230px; }
}

@media only screen and (min-width: 1660px) {
  .bx-wrapper { width: 1540px; }
}




footer {
  margin-top: -2px;
  padding: 45px 10px;
  width: 100%;
  color: @ltGray;
  position: absolute;
  bottom: 0;
  text-align: center;
  ul {
    margin: 0 auto;
    padding: 0;
    max-width: 205px;
    width: 100%;
    height: 30px;
  }
  li {
    display: inline-block;
    float: left;
    width: 25%;
  }
  p {
    font-size: 0.8em;
  }
  a {
    color: @gray !important;
    &:hover {
      color: @blue !important;
    }
  }
}

.footer-spacer {
  width: 100%;
  margin-top: -2px;
  height: 148px;
}


header {
  position:fixed;
  top: 0;
  z-index:1;
  max-height: 500px;
  width: 100%;
  height: 54%;

  .adi-banner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
  }

  .adi-banner-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3em auto;
    min-height: 90%;
    max-height: 500px;
    width: 100%;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    .logo {
      max-width: 90%;
      max-height: 50%;
    }
    .tagline {
      margin: 0.4em 0 0.4em 0;
      color: @ltGray;
      font-weight: 300;
      font-size: 2em;
      line-height: 1em;
    }
    .newsletter {
      margin: auto;
      max-width: 500px;
      width: 100%;
      p {
        color: @ltGray;
        line-height: 1em;
      }
      input {
        width: 70%;
      }
    }
  }
}

.header-spacer {
  z-index: -101;
  max-height: 500px;
  width:100%;
  height: 54%;
}

/* Phones */
@media only screen and (max-width: 480px) {
  header .adi-banner-container {
    margin: 1em auto 3em;

    .logo {
      max-height: 30%;
    }
  }

  header .tagline {
    font-size: 1.65em !important;
  }
}


/* Short Desktop Screens*/
@media only screen and (max-height: 500px) and (min-width: 481px){
  /* Squeeze everything into the banner */
  .banner-tagline {
    margin: 0;
  }
  .adi-banner-container {
    margin:0 auto;
  }

}

.img-ny {
  background: url("../img/columbia-street.jpg") no-repeat center center;

  &.bottom {
    background-position: bottom center;
  }
}

i.fa-adi-8x {
  width: 100%;
  font-size: 8em;
}

.button-large {
  height: 2em;
}
.button-blue {

}
.button-white {

}

#main-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 100;
  width: 100%;
  z-index: 1000;
  background-color: white;

  #main {
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    z-index: 1001;
    width: 100%;
  }
}

section {
  position: relative;
  margin-top: -49px;
  padding-top: 49px;

  &#about {
    p {
      margin: 10px;
      text-align: center;
      font-size: 2.5em;
      font-family: @headingFonts;
      line-height: 1.2em;
    }
  }

  .strip {

    .content {
      margin: 0 auto;
      padding: 4em 1em;
      max-width: 1000px;
      h1.section-title {
        margin: 0;
        font-family: "roboto slab";
      }
      h2.section-tagline {
        margin: 0.5em 0 1em 0;
        text-align: center;
        font-weight: 300;
      }
      h2.sub-section-tagline {
        margin: 1.2em 0 0.5em 0;
        text-align: center;
        font-weight: 300;
      }
    }

    &.gray {
      background-color: white;

      .content {
        background-color: @ltGray;
      }
    }
    &.blue {
      background-color: @ltBlue;

      .content {
        background-color: @blue;
      }
    }
    &.dark-gray {
      background-color: @ltGray;

      .content {
        background-color: @gray;
      }
    }
    &.orange {
      background-color: @ltOrange;

      .content {
        background-color: @orange;
      }
    }
    &.photo {
      color: white;
      .opaque {
        background: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px black;
      }
    }
  }
}

#footer {
  bottom: 0;
}

#bottom-spacer {
  position:relative;
  height:630px;
}
#bottom {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 630px;
}

.row {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 -1em;
  padding: 0.5em;

  &.bg-img {
    min-height: 210px;
    background-position: center;
    background-size: 100%;
    background-size: 100% auto;
    color: white;
    text-align: center;

    .opaque {
      margin: -0.5em;
      padding: 2.5em 0.5em;
      min-height: 210px;
      background: rgba(0, 0, 0, 0.5);

      p, h4 {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
        text-shadow: 1px 1px black;
      }
      h4 {
        margin-bottom: 1.5em;
      }
      p {
        font-size: 1.4em;

      }
    }

    &.devfest {
      background-image: url(/img/devfest/logos/devfest.png);
    }
    &.c-and-c {
      background-image: url(/img/cookiesandcode.png);
    }
    &.jobfair {
      background-image: url(/img/jobfair.png);
    }
    &.weeklies {
      background-image: url(/img/weeklies.png);
    }
  }

  .responsive-block {
    position: relative;
    display: block;
    float: left;
    padding: 0.5em;
    text-align: center;

    p {
      font-size: 1.2em;
    }

    &.involved {
      width: 50%;

      input {
        display: inline;
        margin: 0;
        width: 65%;
      }
      button {
        display: inline;
        margin: 0 0 0 5%;
        padding: 0.5em 0.2em;
        max-width: 80px;
        width: 25%;
      }

      .event-details {
        margin: 0 auto;
        padding: 0;
        min-width: 200px;
        width: 80%;
        list-style: none;
        text-align: left;

        .event-detail {
          overflow: hidden;
          margin: 5px;
          width: 100%;

          .event-detail-icon {
            display: inline-block;
            float: left;
            margin-top: 5px;
            margin-right: 10px;
            text-align: center;
          }
          .event-detail-text {
            display:inline-block;
            float: left;
            margin: 0 .2em;
            width: 75%;
            font-size: 1.2em;
            line-height: 2em;
          }
        }
      }

      .button {
        margin: 10px auto 0;
        padding: 0.5em 0.2em;
        width: 150px;
        height: 35px;

        a {
          line-height: 20px;
        }
      }
    }

    &.contact {
      width: 25%;

      &:hover, &.touch {
        background-color: @gray;
      }
    }



    &.infra {
      width: 33.3333333333%;

      &:hover, &.touch {
        background-color: @ltBlue;
      }
    }

    &.contact, &.infra {
      border-radius: 4px;

      .button-spacer{
        display: block;
        height: 35px;
      }

      a {
        color: white;
        line-height: 20px;

        .button {
          bottom: 0;
          display: none;
          padding: 0.5em 0.2em;
          height: 35px;
        }
      }

      &:hover, &.touch {

        .button-spacer {
          display: none;
        }
        .button {
          display: block;
        }
      }
    }
  }
}

/* Tablets */
@media only screen and (max-width: 767px) {

  .row.bg-img {
    background-size: auto 100%;
  }

  .navbar-right {
    display: none;
  }

  .row {
    .responsive-block {
      width: 50% !important;

      &.involved {
        .event-details {
          width: 100%;
        }
      }
    }
  }

  #bottom, #bottom-spacer {
    height: 1000px;
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  header, .header-spacer {
    height:75%;
  }

  section .strip .content h1.section-title {
    font-size: 2.75em;
  }

  .fa-adi-8x {
    font-size: 4em !important;
  }

  .row {
    .responsive-block {
      width: 100% !important;

      &.infra, &.contact {
        margin: 0.5em 0;
      }
    }
  }

  .content {
    padding: 1em !important;
  }

}

.navbar-right {
  height: 50px;

  &>li>a {
    line-height: 0;
  }
}

.navbar-header {
  z-index: 1010;
}

.navbar {
  z-index: 1000001;
  margin: 0;
  border-radius: 0 !important;
  .logo {
    margin: 8px;
    height: 34px;
    width: 64px;
    background-image: url("/img/logo-bw.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    &:hover {
      background-image: url("/img/logo.png");
    }
  }
  a {
    z-index: 1000002;
    font-size: 1.1em;
  }
  .dropdown-menu {
    width: 180px;
    background: #080808;
  }
}

.navbar-inverse .navbar-nav > li > a {
  padding: 14px;
  &:hover {
    color: @dkBlue;
  }
}

.navbar-spacer {
  &.spacer-active {
    height: 50px;
    &.spacer-tall {
      height: 355px;
    }
  }
}

.external {
  margin-left: 5px;
}

#mc-embed-signup {
  margin: 1em;
  width: 13em;
  label {
    color: #fff;
  }
  input {
    margin-top: 0.8em;
    width: 70%;
  }
  button {
    position: absolute;
    margin-top: 1em;
    padding: 0.6em 0.2em;
    border: none;
    background: none;
    color: #4fa8e2;
    &:hover {
      color: @blue;
    }
  }
}

@media only screen and (max-width: 800px) {

  .navbar-nav > li > a {
    padding: 14px 10px !important;
  }
}
#blog-wrapper {
  padding-top:50px;
  position: relative;
  min-height: 100%;

  p {
    margin-bottom: 0;
  }
}

.page-title a {
  color: black;

  &:hover {
    color: @dkBlue;
  }
}

.byline {
  font-style: italic;
}

.post{
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 2em auto;
  padding: 1em;
  max-width: 800px;
  width: 95%;


  .title {
    margin: 0;
    width: 70%;
    color: black;
    text-decoration: none !important;

  }
  a.title:hover .title {
    color: @dkBlue;
  }
  .date {
    margin: 0;
    color: @gray;
    width: 70%;
  }
  a {
    color: #000;
    text-decoration: underline;
    &:hover {
      color: #7BBEE9;
      text-decoration: underline;
    }
    width: 100%;
  }
  .image {
    text-align: center;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 1em auto 0;
    padding: 2px;
    // border: 1px solid #414142;
    height: auto;
  }

  blockquote {
    margin: 1em 2em 1em 0.5em;
    padding-left: 1em;
    border-left: 0.5em solid #ccc;
    font-style: italic;
  }

  .social.top {
    width: 40%;
    text-align: right;
    float: right;
  }
}

#post-pagination {
  margin: 0 auto 10px;
  max-width: 800px;
  width: 95%;
  position: relative;
  text-align: center;
  font-size: 1.2em;
}

#post-pagination * {
  display: inline;
}

#post-pagination .pages{
  padding: 0;
  list-style: none;
}

#post-pagination .page {
  display: inline;
  padding: 0.5em;
}

#post-pagination .archive {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  float: right;
}

.social.bottom {
  display: none;
}

/* Tablets */
@media only screen and (max-width: 767px) {
  #post-pagination .archive {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
  .post {
    .social.top {
      width: 20%;

      a {
        display: block;
        margin-right: 0;
        button {
          margin: 0 0 5px;
        }
      }
    }
    .title {
      width: 85%;
    }
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  .social.top {
    display: none;
  }
  .post {
    .title, .date {
      width: 100%;
    }
  }
  .social.bottom {
    margin: 1em 0 0;
    display: block;
    width: 100%;
    text-align: center;
  }
}


// ADI logo colors
@darkGray: #414142; //dark gray in D, i
@blue: #7bbee9; //blue in gear
// @gray: #808285; //middle gray in screwdriver, ruler tick marks
@dkGray: #939598; //lighter gray in wrench
@gray: #ccc; //lighest gray in one ruler
@ltGray: #eee;
@dkBlue: darken(@blue, 10%);
@ltBlue: lighten(@blue, 10%);
@orange: #ED922E;
@ltOrange: lighten(@orange, 10%);

@defaultFonts: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headingFonts: "Roboto Slab", @defaultFonts;
