---
layout: imports
title: DevFest
---
{% include header.html content_id="devfest" image_class="img-devfest"%}
<div id="main-wrapper">
  {% include navbar.html listserv_class="hidden" scroll="scroll" content_id="devfest" %}
  <div id="main">
    <section id="about">
      <div class="blue strip">
        <div class="content">
          <div class="row">
            <div class="responsive-block about">
              <i class="fa fa-adi-8x fa-book"></i>
              <h4 class="about-title">Learn</h4>
            </div>
            <div class="responsive-block about">
              <i class="fa fa-adi-8x fa-code"></i>
              <h4 class="about-title">Build</h4>
            </div>
            <div class="responsive-block about">
              <i class="fa fa-adi-8x fa-terminal"></i>
              <h4 class="about-title">Demo</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="schedule">
      <div class="gray strip">
        <div class="content">
          <h1 class="section-title">Schedule</h1>
          <div class="schedule"></div>
        </div>
      </div>
    </section>
    <section id="sponsors">
      <div class="strip">
        <div class="content">
          <div class="sponsors"></div>
          <h2 class="sub-section-tagline">
            Interested in sponsoring DevFest?
            <a href='mailto:devfest@adicu.com?subject=DevFest Sponsorship'>Send us an email.</a>
          </h2>
        </div>
      </div>
    </section>
    <section id="register">
      <div class="blue strip">
        <div class="content">
          <h1 class="section-title">Register</h1>
          <h2 class="sub-section-tagline">Join us from February 1-8.</h2>
          <h2 class="sub-section-tagline">
            <a href=" https://docs.google.com/forms/d/1OXNkbrlkYdeWPKJuOVXfXneOpVlTarIC0KpnLeBuyfo/viewform">
              <button class="button button-large button-white">Register Today</button>
            </a>
          </h2>
        </div>
      </div>
    </section>
  </div>
  {% include footer.html %}
</div>
<script type="text/javascript" src="/devfest/devfest.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
