---
layout: imports
title: DevFest
description: The Application Development Initiative seeks to nurture student creativity and technological aptitude by creating a community and resources for student developers of all talents and interests.
---
{% include header.html content_id="devfest" image_class="img-devfest"%}
<div id="main-wrapper">
  {% include navbar.html listserv_class="hidden" scroll="scroll" content_id="devfest" %}
  <div id="main">
    <section id="about">
      <div class="blue strip">
        <div class="content">
          <div class="row">
            <div class="responsive-block about">
              <h4 class="about-title">Workshops.</h4>
            </div>
            <div class="responsive-block about">
              <h4 class="about-title">Hackathon.</h4>
            </div>
            <div class="responsive-block about">
              <h4 class="about-title">Demos.</h4>
            </div>
            <div class="responsive-block about">
              <h4 class="about-title">Food.</h4>
            </div>
          </div>
          <p class="description">ADI's annual week-long app development bonanza &mdash; 5 days of workshops followed by a 24-hour hackathon. Learn, code, build something new and compete for awesome prizes. Oh, and there's food. Lots of it.</p>
        </div>
      </div>
    </section>
    <section id="schedule">
      <div class="strip">
        <div class="content">
          <h1 class="section-title">Schedule</h1>
          <p class="notice">Subject to change.</p>
          <div class="schedule"></div>
        </div>
      </div>
    </section>
    <section id="faqs">
      <div class="blue strip">
        <div class="content">
          <h1 class="section-title">FAQs</h1>
          <div class="faqs"></div>
        </div>
      </div>
    </section>
    <section id="judges">
      <div class="gray strip">
        <div class="content">
          <h1 class="section-title">Judges</h1>
          <div class="judges"></div>
        </div>
      </div>
    </section>
    <section id="sponsors">
      <div class="strip">
        <div class="content">
          <div class="sponsors"></div>
          <h1 class="section-title thanks">Special Thanks</h1>
          <p class="notice">Space for DevFest's Hackathon 2014 generously provided by Columbia University Libraries/Information Services.</p>
          <p class="notice"> Thanks to Remi Moss, Jessica Rosa, and the entire Computer Science Department for supporting DevFest and providing us with the CS Lounge as a working space throughout the week</p>
        </div>
      </div>
    </section>
    <section id="register">
      <div class="blue strip">
        <div class="content">
          <h1 class="section-title">Register</h1>
          <h2 class="sub-section-tagline">Join us from February 1-8.</h2>
          <h2 class="sub-section-tagline">
            <a href=" https://docs.google.com/forms/d/1OXNkbrlkYdeWPKJuOVXfXneOpVlTarIC0KpnLeBuyfo/viewform">
              <button class="button button-large button-white">Register Today</button>
            </a>
          </h2>
        </div>
      </div>
    </section>
  </div>
  {% include footer.html %}
</div>
<script type="text/javascript" src="/devfest/devfest.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
