<html>
<head>
<link rel="icon" 
      type="image/png" 
      href="../img/favicon.png">
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>ADI - {{ page.title }}</title>

  <link rel="canonical" href="{{ site.base }}{{ page.url }}" />
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="alternate" href="http://adicu.com/atom.xml" type="application/atom+xml"/>
  <meta property="og:image" content="http://adicu.com/img/logo.png" />

</head>
<body>

  <!-- Facebook JS for Like -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=110370835827671";
        fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Google+ JS for +1 -->
  <script type="text/javascript">
      (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  </script>

  <div id="sidebar">
    <div id="sidebar-content">
      <a href="/"><img id="logo" src="/img/logo.png" /></a>
      <h1>application development initiative</h1>
    </div>
    <nav>
      <ul id="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/events.html">Events</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="http://jobs.coreatcu.com/">Jobs <img class="external" src="/img/icon_external_link.png" /></a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <ul class="inline-list">
        <a href="https://www.facebook.com/ADICU"><img class="social-icon" src="../img/fb.png" /></a>
        <a href="http://twitter.com/adicu"><img class="social-icon" src="../img/twitter.png" /></a> 
        <a href="https://github.com/adicu/"><img class="social-icon" src="../img/github.png" /></a>  
        <a href="http://gplus.to/adicu"><img class="social-icon" src="../img/googleplus.png"></a>      
      </ul>
      </ul>
    </nav>
    <div id="mc_embed_signup">
       <form action="http://adicu.us4.list-manage.com/subscribe/post?u=62d8b690f349b99dd7e0f3205&amp;id=01a495e6ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
         <label for="mce-EMAIL">Join our mailing list:</label>
         <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
         <input type="submit" value="→" name="subscribe" id="mc-embedded-subscribe" class="button">
       </form>
    </div> 
  </div>
  <div id="main">
    {{ content }}
      <div id="footer">
        <div id="footer-content">
          <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img src="../img/cc-license.png"></a>
          This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons license</a>.
          Layout inspired by <a href="https://github.com/rigoneri/syte">syte</a>.
        </div>
      </div>
  </div>

</body>
<html>
