<html>
<link rel="icon" 
      type="image/png" 
      href="../img/favicon.png">
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Application Development Initiative</title>

  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
 
  <div class="sidebar">
    <div class="content">
      <a href="/"><img class="logo" src="/img/logo.png" /></a>
      <h1>application development initiative</h1>
    </div>
    <nav>
      <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/events.html">Events</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/board.html">Board</a></li>
        <li><a href="http://jobs.coreatcu.com/">Jobs</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <ul class="inline-list">
        <a href="https://www.facebook.com/ADICU"><img class="social-icon" src="../img/fb.png" /></a>
        <a href="http://twitter.com/adicu"><img class="social-icon" src="../img/twitter.png" /></a> 
        <a href="https://github.com/adicu/"><img class="social-icon" src="../img/github.png" /></a>  
        <a href="http://gplus.to/adicu"><img class="social-icon" src="../img/googleplus.png"></a>      
      </ul>
      </ul>
    </nav>
  </div>
  <div class="main">
    {{ content }}
      <div id="footer">
        <div id="footer-content">
          <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img src="../img/cc-license.png"></a>
          This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons license</a>.
          Layout inspired by <a href="https://github.com/rigoneri/syte">syte</a>.
        </div>
      </div>
  </div>

</body>
<html>
