<html>
<head>
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>ADI - {{ page.title }}</title>

  <link rel="canonical" href="{{ site.base }}{{ page.url }}" />
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="alternate" href="http://adicu.com/atom.xml" type="application/atom+xml"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <meta property="og:image" content="http://adicu.com/img/logo.png" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">


</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img class="logo" src="/img/logo.png"/></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about.html">About</a></li>
        <li><a href="http://learn.adicu.com">Learn</a></li>
        <li><a href="/events.html">Events</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="http://jobs.coreatcu.com/">Jobs <img class="external" src="/img/icon_external_link.png" /></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right inline-list">
        <li><a href="https://www.facebook.com/ADICU"><img class="social-icon" src="../img/fb.png" /></li></a>
        <li><a href="http://twitter.com/adicu"><img class="social-icon" src="../img/twitter.png" /></li></a>
        <li><a href="https://github.com/adicu/"><img class="social-icon" src="../img/github.png" /></li></a>
        <li><a href="http://gplus.to/adicu"><img class="social-icon" src="../img/googleplus.png"></li></a>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listserv<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="mc_embed_signup">
             <form action="http://adicu.us4.list-manage.com/subscribe/post?u=62d8b690f349b99dd7e0f3205&amp;id=01a495e6ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
               <label for="mce-EMAIL"><strong>Join our mailing list:</strong></label>
               <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
               <button type="submit" name="subscribe" id="mc-embedded-subscribe"><i class="icon-2x icon-circle-arrow-right icon-email" style="position: relative; top: 4px;"></i></button>
             </form>
            </li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="main">
    {{ content }}
    <div class="footer">
      <div class="adi-section-content">
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img src="../img/cc-license.png"></a>
        This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons license</a>.
      </div>
    </div>
  </div>
  

  <script src="/js/jquery-1.7.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
<html>
