<html>
<head>
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <meta charset="utf-8" />
  <meta property="og:image" content="http://adicu.com/img/logo.png" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>ADI - {{ page.title }}</title>

  <link rel="canonical" href="{{ site.base }}{{ page.url }}" />
  <link rel="alternate" href="http://adicu.com/atom.xml" type="application/atom+xml"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  


</head>
<body>
  <script type="text/javascript" src="/js/jquery-1.7.js"></script>
  
  {{ content }}
  
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
<html>
